
.MangaPoster {
    height: 160px;
    width: 120px;
}

.Title {
    width: 140px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis   
}

.mangaBook {
    padding: 10px;
}

.imgBtn {
    margin:0px;
    padding:0px;
    white-space:nowrap;
    width:auto;
    overflow:visible;
    border: none
}

.center {
    display: flex;
    align-content: center;
}