
#LDetailBody {
    margin: 20px;  
}

.LDetailposter {
    height: 400px;
    width: 300px;
}

#LDetailBox {
    display: flex;
    align-items: flex-start;
}

.LDetailtitle {
    font-size: 20pt;
}
