.Library {
    margin-left: 15px;
}

.title {
    color: white;
    text-decoration: none;
}

.mapLibContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    
}

.Libtitle {
    width: 140px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.Libposter {
    height: 160px;
    width: 120px;
}

.mangaBook {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}