.Library {
    margin-left: 15px;
}

.title {
    color: white;
    text-decoration: none;
}

.mapLibContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    
}

.Libtitle {
    width: 140px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: -61px;
}

.LibtitleBefore {
    width: 140px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: -25px;
}

.Libposter {
    height: 160px;
    width: 120px;
}

.mangaBook {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


.checkmark {
    position: relative;
    top: -168px;
    left: 97px;
    font-size: x-large;
}

.finished {
    font-size: small;
    width: 120px;
    border: none;
}

.remove {
    font-size: small;
    width: 30px;
    border: 2px solid red;
    background-color:rgb(82, 5, 5);
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: relative;
    top: -61px;
    left: 91px;
}

.trash {
    font-size: small;
    width: 30px;
    border: 2px solid red;
    background-color:rgb(82, 5, 5);
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: relative;
    top: -26px;
    left: 91px;
}